.vscode/**
.vscode-test/**
.devcontainer/**
.github/**
src/**
scripts/**
node_modules/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.ts
**/*.map
AUDIT.md
CONTRIBUTING.md
CONTRIBUTING_QUICKSTART.md
SECURITY.md
SUPPORT.md
